<!DOCTYPE html>
<html>
<head>
	<title>myMock</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<style>
  *{padding: 0;margin: 0;}
  body{margin: 50px 0 0 50px;font-size: 30px;}
  label{vertical-align: middle;}
  input{width: 200px;height: 26px;line-height: 26px;outline: none;}
  button{height: 30px;line-height: 30px;padding:0 15px;}
</style>
<body>
  <label>post请求:</label>
  <input type="text" id="val" value="">
  <button id="btn">点击查看</button>
  <script>
    $('#btn').click(() => {
      $.post($('#val').val(),function(data) {
        console.log(data)
      })
    })
  </script>
</body>
</html>